# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
*/modules/*/out
*/.vscode/settings.json
.vscode/settings.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

iotedgeSerial/deployment.test.template.json
iotedgeSerial/.vscode/launch.json
iotedgeSerial/.vscode/launch.json
iotedgeSerial/.vscode/launch.json
iotedgeSerial/.vscode/launch.json
